<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="aa7ae4c7-db49-473d-ab00-b3fa647fc48a"
    Version="1.0.0.0"
    Publisher="CN=Kelly" />

  <Properties>
    <DisplayName>TouchFlix</DisplayName>
    <Description>TouchFlix</Description>
    <PublisherDisplayName>Kelly</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="TouchFlix"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="TouchFlix"
        ForegroundText="light"
        BackgroundColor="#000000">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
